__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
*.log
.git
.github
.gitignore
README.md
*.md
.DS_Store
*.ipynb
trials.ipynb
.ipynb_checkpoints
*.egg-info
dist/
build/
*.egg
.pytest_cache
.coverage
htmlcov/
.mypy_cache
.vscode
.idea
